{% extends "base.html" %}

{% block content %}
    <div class="shadowed-box u-text-center u-center-block">
        <h2 class="uk-text-center">Metadata removed</h2>
        {% if not meta_after %}
            <p class="uk-text-center">
                Successfully removed the metadata
            </p>
        {% endif %}
        <div class="uk-flex uk-flex-center">
            <div>
                <a class="uk-flex-1" href='{{ download_uri }}'>
                    <button class="uk-button uk-button-primary">
                        ⇩ download cleaned file
                    </button>
                </a>
            </div>
        </div>


        <p>
            {% if meta_after %}
                <div class="uk-alert uk-alert-warning" uk-alert>
                    <p>
                        <b>Could not</b> remove all the metadata
                    </p>
                </div>
                <h3>
                    Remaining Metadata
                </h3>
                <dl class="uk-description-list uk-description-list-divider">
                    {% for key, value in meta_after.items() %}
                        <dt>
                            {{ key }}
                        </dt>
                        <dd>
                            {{ value }}
                        </dd>
                    {% endfor %}
                </dl>
            {% endif %}
        </p>

    {% if meta %}
        <h3>
            Removed Metadata
        </h3>
        <dl class="uk-description-list uk-description-list-divider">
            {% for key, value in meta.items() %}
                <dt>
                    {{ key }}
                </dt>
                <dd>
                    {{ value }}
                </dd>
            {% endfor %}
        </dl>
    {% else %}
        <div class="uk-alert uk-alert-success">
            <p>
                Not a single metadata was found, odds are that your file was already clean!
            </p>
        </div>
    {% endif %}
    </div>

{% endblock %}

